:root {
    --main-color: rgb(5, 50, 108);
    --secondary-color: rgb(5, 50, 79);

   --lighting-color: rgb(248, 234, 253);
   --text-color: rgb(133, 163, 190);

   --hover-color: rgb(172, 89, 214);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
}

.menu {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;    
    width: 120vh;
    height: 180vh; 
    text-align: center;
    gap: 8px;
    
}

.menu img {
    width: 60%;
    border-radius: 50%;
    margin-top: 80px;    
}

.redes-socias {
    margin-top: 15px;
    margin: 10px;
}

.menu .dados .icons {
    margin: 10px;
    text-decoration: none;   
}

.icons:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.about-me,
.networking {
    margin: 40px;
    padding: 10px;
}

.strong,
.text {
    margin: 15px;
}

.strong {
    color: var(--lighting-color);
}

.text {
    color: var(--text-color);
}

.details-about-me {
    margin-top: 28px;
}

.about-me .details-about-me p {
    margin-left: 120px;   
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.random-people {
    width: 25%;
    height: 280px;
    background-color: red;
    border: 1px solid black;
    margin: 32px;
}

.random-people p {
    text-align: center;
    margin-top: 260px;
    color: var(--lighting-color);
    font-size: 20px;
}

footer {
    display: flex;
    height: 150px;
    width: 28%;
    margin-top: 40%;
} 

.contact i { 
    position: fixed;
    color: purple;
}

i:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}